<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="http://placehold.it/300x200"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="login()" [formGroup]="form">
      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input
                type="email"
                formControlName="email">
              </ion-input>
            </ion-item>
            <div *ngIf="!form.controls['email'].valid">
              <p *ngIf="form.controls['email'].hasError('required')">
                * required
              </p>
              <p *ngIf="form.controls['email'].hasError('not_a_valid_email')">
                * valid email required
              </p>
            </div>

            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input
                type="password"
                formControlName="password">
              </ion-input>
            </ion-item>
            <div *ngIf="!form.controls['password'].valid">
              <p *ngIf="form.controls['password'].hasError('required')">
                * required
              </p>
              <p *ngIf="form.controls['password'].hasError('digit_required')">
                * at least one digit is required
              </p>
              <p *ngIf="form.controls['password'].hasError('downcase_required')">
                * at least one downcase letter is required
              </p>
              <p *ngIf="form.controls['password'].hasError('upcase_required')">
                * at least one upcase letter is required
              </p>
              <p *ngIf="form.controls['password'].hasError('proper_length_required')">
                * length should be between 8 and 20 symbols
              </p>
            </div>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button full
            class="submit-btn"
            type="submit"
            [disabled]="!form.valid">

            Login

          </button>

          <button ion-button block clear
            class="register-btn"
            (click)="createAccount()">

            Create New Account

          </button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
